@charset "utf-8";
/* CSS Document */

html,
body {
  height: 100%;
  background-color: #333;
  margin: 0;
	
}

.head h3{
	margin-top: 0px;
	color:#fff;
	display: inline;
}

.right .dropdown{
	display: inline;
	
}

.dropdown button{
	background: #2E2E2E;
	border: none;
}
.right{
	display:inline;
	color:#fff;
	float:right;
}

.head{
	padding:15px;
	background-color: #2E2E2E;
}
body p{
	 color: #fff;
}
body h2{
	color: #fff;
}
.bookAppointment{
	
	width: 500px;
	height: 300px;
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right:auto;
	border:solid;
	border-color: white;
	border-radius:25px;
	background-color: #4D4D4D;
	
}

.bookAppointment table{
	margin-top: 7%;
	margin-left: auto;
	margin-right:auto;	
	margin-bottom: 8%;
	
}

 .drop{
	padding-left: 5%;
	padding-bottom: 5%; 
}
