@charset "utf-8";
/* CSS Document */
html,
body {
  height: 100%;
  background-color: #333;
  margin: 0;
	
}
.head h3{
	margin-top: 0px;
	color:#fff;
	background-color: #2E2E2E;
	
	padding: 15px;
}
body label{
	 color: #fff;
}
body h2{
	color: #fff;
}
.forgotPassword{
	margin-top: 30%;
	width: 90%;
	height:250px;
	margin-right: auto;
	margin-left: auto;
	border:solid;
	border-color: white;
	border-radius:25px;
	background-color: #4D4D4D;
	text-align: center;
}
.forgotPassword h2{
	margin-top: 8%;
	margin-bottom: 10%;
}
.forgotPassword .inner table{

	margin-left: auto;
	margin-right:auto;	
	margin-bottom: 5%;
	
}
.drop{
	padding-left: 5%;
	padding-bottom: 5%; 
}

@media(min-width: 768px){
	.forgotPassword{
		margin-top: 30%;
		height: 300px;
	}
	
	.forgotPassword h2{
	margin-top: 5%;
	margin-bottom: 6%;
}
}
@media(min-width: 1024px){
	
	.forgotPassword{
	
	width: 500px;
	height: 300px;
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right:auto;
	border:solid;
	border-color: white;
	border-radius:25px;
	background-color: #4D4D4D;
	
}
	.forgotPassword h2{
	margin-top: 8%;
	margin-bottom: 10%;
}
}
